$green-100: #EBF5F7;
$green-200: #36C8C3;
$green-500: #1CA8A6;

$black: #000000;
$white: #ffffff;
$grey: #A8BACA;

$danger: #cc0b0b;
$success: #008000;

$primary-clr: $green-200;
$primary-500: $green-500;
$bg-clr: $green-100;

$box-shadow-1: 0px 8px 24px #0e525070;
$box-shadow-2: 0px 4px 8px #00000040;;